language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly
  - hhvm
  - hhvm-nightly

sudo: false

before_script:
  - curl --version
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

matrix:
  allow_failures:
    - rust: nightly
    - rust: hhvm
    - rust: hhvm-nightly
  fast_finish: true

notifications:
    on_success: never
    on_failure: always
