<?xml version="1.0" encoding="utf-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <title>Nova Poshta</title>
         
    <testsuites>
        <testsuite name="Nova Poshta Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-php" target="/tmp/coverage_phpunit.cov"/>
    </logging>
</phpunit>
